:root {
  --button-hover:#5FE05E;
}

* {
  padding:0;
  margin:0;
  border-box:none;
}

.header-container {
  display: flex;
  justify-content:space-between;
  margin:14px 10px;
}
.header-container button {
  padding:3px;
  border:1px solid black;
  border-radius: 8px;
  font-size:1.0rem;
  font-weight:bold;
  cursor:pointer;
}
.header-container button:hover {
  background:var(--button-hover);
}
/*Table*/
.Employee-container {
  display:grid;
  grid-template-columns:30% 70%;
  height:60vh;
  max-height:700px;
  //background:green;
  margin:4.5rem 0;
  

}
.employees{
  border-right: double;
    padding:1rem;
  margin-right:0.1rem;
  background:#ccc;
  height:100%;
  overflow-y:scroll;
}
.employees_name_title , 
.single_employees_name_Info {
  display:block;
  border-bottom: double;
  width:100%;
  text-align:center;
  padding-bottom:4px;
  font-weight:bold;
}
.single_employees{
  padding:1rem;
  overflow-y:scroll;
  background:#ccc;
  height:100%;
}

.employee-list-container {
  list-style-type:none;
  padding:0.5rem;
  margin-top:1rem;
}
.employee-list-container li{
  padding:0.4rem;
  background:white;
  border:1px solid #ccc;
  margin:2px 0;
  border-radius:0.5rem;
  cursor:pointer;
  text-align:center;
}
.employee-list-container li:hover{
  background:#5FE05E;
}
.single_employees_name_Info_image_container
 {
//width:100%;
margin:2rem 0;
  display:flex;
justify-content:center;

}
.single_employees_name_Info_all_info h4 {
  text-align:center;
  margin:2px 0;
}

/* Modal*/
.add_employee_container {
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(141,141,141,0.546);
  top:0;
  left:0;
  display:flex;
  align-items:center;
  justify-content:center;
}
.add_employee_container_create {
  width:50%;
  background:white;
  display:flex;
  flex-direction:column;
  gap:25px;
  text-align:center;
  padding:20px;
}
.add_employee_container_create div{
  display:grid;
  grid-template-columns:47.9% 48.0%;
  gap:25px;
}
.add_employee_container_create input {
  padding:8px;
  border:1px solid grey;
  border-style:dotted;
  border-radius:5px;


}
.add_employee_container_create input:focus{
  outline:none;
}
.add_employee_container_create_submit:hover {
  background:var(--button-hover);
}